jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # هذه الأداة ستحذف البرامج المثبتة مسبقاً وغير الضرورية لتوفر لك مساحة تصل لـ 30GB
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout code
        uses: actions/checkout@v4
      
      # ... باقي خطوات مشروعك ...
