name: Auto-Post Engine

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # 1. تنظيف المساحة أولاً في نفس السيرفر
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      # 2. سحب الكود
      - name: Checkout code
        uses: actions/checkout@v4

      # 3. إعداد بايثون
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # 4. تشغيل السكريبت الخاص بك
      - name: Run Generator
        run: python amed.py

      # 5. حفظ التغييرات
      - name: Commit changes
        run: |
          git config user.name "GitHub Bot"
          git config user.email "actions@github.com"
          git add .
          git commit -m "auto generate pages" || echo "no changes"
          git push
